@use 'compenents/variaveis';
.menu {
    background-color: variaveis.$cor_menu_secund;
    padding: .5em 0em;
    position: fixed;
    width: 100%;
    z-index: 1; 
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__itens {
        display: flex;
        align-items: center;
        font-size: 1.25em;
        color: variaveis.$cor_hamburguer;
        gap: .25em;
        font-family: "Pacifico", cursive;
        &__logo {
            width: 40px;
        }
    }
    &__burguer {
        span {
            display: block;
            height: 4px;
            margin-bottom: 6px;
            width: 32px;
            background-color: variaveis.$cor_hamburguer;
            border-radius: 2px;
        }
        &:hover {
            cursor: pointer;
        }

        @media screen and (min-width:647px){
            visibility: hidden;
        }
    }
    &__lis {
        display: none;
    }

    @media screen and (min-width:647px){
        &__lis {
            display: flex;
            list-style: none;

            &__item {
                text-transform: uppercase;
                margin-left: 1em;
                border-bottom: 1px solid variaveis.$cor_icon;
                
                &__link {
                    text-decoration: none;
                    color: variaveis.$cor_hamburguer;
                }
            }
        }
    }

}