@use 'compenents/reset';
@use 'compenents/container';
@use 'compenents/variaveis';
@use 'menu';
@use 'aside';
@use 'hero';
@use 'organizadora';
@use 'local';
@use 'footer';
body {
    min-width: 300px;
    width: 100%;
}
section {
    padding: 1.5em 0px;
}
h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-size: 2em;
    
}
a:hover {
  cursor: pointer;
}